openapi: 3.0.3
info:
  title: Perchwell JSON Listings Office API
  version: '1.0'
  description: Perchwell's JSON API provides access to real estate listing data in a format designed for ease of use and speed of development. The API uses simple token authentication and a basic query interface for filtering listings and paginating through results. Faithfully generated by the API Evangelist enrichment pipeline from Perchwell's published API reference (https://docs.perchwell.com/#/json_api_getting_started).
  contact:
    name: Perchwell Support
    email: support@perchwell.com
    url: https://docs.perchwell.com
servers:
- url: https://www.perchwell.com
  description: Production
security:
- tokenAuth: []
tags:
- name: Office
  description: RESO Office resource.
paths:
  /Office:
    get:
      operationId: queryOffice
      summary: Query Office records
      tags:
      - Office
      parameters:
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: A collection of Office records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfficeCollection'
  /Office('{id}'):
    get:
      operationId: getOffice
      summary: Get an Office by OfficeKey
      tags:
      - Office
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: The Office record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Office'
components:
  schemas:
    Office:
      type: object
      description: RESO Office resource.
      properties:
        OfficeKey:
          type: string
        OfficeName:
          type: string
        ModificationTimestamp:
          type: string
          format: date-time
    OfficeCollection:
      type: object
      properties:
        '@odata.context':
          type: string
        '@odata.count':
          type: integer
        value:
          type: array
          items:
            $ref: '#/components/schemas/Office'
  parameters:
    filter:
      name: $filter
      in: query
      required: false
      description: OData filter expression restricting returned items.
      schema:
        type: string
    id:
      name: id
      in: path
      required: true
      description: The resource primary key value.
      schema:
        type: string
    select:
      name: $select
      in: query
      required: false
      description: Comma-separated list of resource elements to return.
      schema:
        type: string
    skip:
      name: $skip
      in: query
      required: false
      description: Number of matching items to skip (default 0).
      schema:
        type: integer
        default: 0
    top:
      name: $top
      in: query
      required: false
      description: Maximum number of matching items to return (default 10, max 200).
      schema:
        type: integer
        default: 10
        maximum: 200
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Simple token authentication. Send the API token in the Authorization header.
