openapi: 3.0.3
info:
  title: Perchwell JSON Listings OpenHouse API
  version: '1.0'
  description: Perchwell's JSON API provides access to real estate listing data in a format designed for ease of use and speed of development. The API uses simple token authentication and a basic query interface for filtering listings and paginating through results. Faithfully generated by the API Evangelist enrichment pipeline from Perchwell's published API reference (https://docs.perchwell.com/#/json_api_getting_started).
  contact:
    name: Perchwell Support
    email: support@perchwell.com
    url: https://docs.perchwell.com
servers:
- url: https://www.perchwell.com
  description: Production
security:
- tokenAuth: []
tags:
- name: OpenHouse
  description: RESO OpenHouse resource.
paths:
  /OpenHouse:
    get:
      operationId: queryOpenHouse
      summary: Query OpenHouse records
      tags:
      - OpenHouse
      parameters:
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: A collection of OpenHouse records.
          content:
            application/json:
              schema:
                type: object
    post:
      operationId: createOpenHouse
      summary: Create an OpenHouse record
      tags:
      - OpenHouse
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenHouse'
      responses:
        '201':
          description: OpenHouse created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenHouse'
  /OpenHouse('{id}'):
    get:
      operationId: getOpenHouse
      summary: Get an OpenHouse by OpenHouseKey
      tags:
      - OpenHouse
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: The OpenHouse record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenHouse'
    patch:
      operationId: updateOpenHouse
      summary: Update an OpenHouse by OpenHouseKey
      tags:
      - OpenHouse
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenHouse'
      responses:
        '200':
          description: The updated OpenHouse record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenHouse'
    delete:
      operationId: deleteOpenHouse
      summary: Delete an OpenHouse by OpenHouseKey
      tags:
      - OpenHouse
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '204':
          description: OpenHouse deleted.
components:
  parameters:
    filter:
      name: $filter
      in: query
      required: false
      description: OData filter expression restricting returned items.
      schema:
        type: string
    id:
      name: id
      in: path
      required: true
      description: The resource primary key value.
      schema:
        type: string
    select:
      name: $select
      in: query
      required: false
      description: Comma-separated list of resource elements to return.
      schema:
        type: string
    skip:
      name: $skip
      in: query
      required: false
      description: Number of matching items to skip (default 0).
      schema:
        type: integer
        default: 0
    top:
      name: $top
      in: query
      required: false
      description: Maximum number of matching items to return (default 10, max 200).
      schema:
        type: integer
        default: 10
        maximum: 200
  schemas:
    OpenHouse:
      type: object
      description: RESO OpenHouse resource.
      properties:
        OpenHouseKey:
          type: string
        ListingKey:
          type: string
        ModificationTimestamp:
          type: string
          format: date-time
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Simple token authentication. Send the API token in the Authorization header.
