openapi: 3.2.0
info:
  title: Perchwell RESO Web Open House API
  version: v2
  description: Perchwell's RESO Web API is a RESO Data Dictionary certified, OData 4.01 interface for transferring real estate data.
  contact:
    name: Perchwell Support
    email: support@perchwell.com
    url: https://docs.perchwell.com
servers:
- url: https://www.perchwell.com/api/v2/OData/{system}
  description: Production (system is the originating system identifier)
  variables:
    system:
      default: system
      description: The originating system identifier for the MLS/dataset.
security:
- bearerAuth: []
tags:
- name: OpenHouse
  description: RESO OpenHouse resource.
paths:
  /OpenHouse:
    get:
      operationId: queryOpenHouse
      summary: Query OpenHouse records
      tags:
      - OpenHouse
      parameters:
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: A collection of OpenHouse records.
          content:
            application/json:
              schema:
                type: object
    post:
      operationId: createOpenHouse
      summary: Create an OpenHouse record
      tags:
      - OpenHouse
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenHouse'
      responses:
        '201':
          description: OpenHouse created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenHouse'
  /OpenHouse('{id}'):
    get:
      operationId: getOpenHouse
      summary: Get an OpenHouse by OpenHouseKey
      tags:
      - OpenHouse
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: The OpenHouse record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenHouse'
    patch:
      operationId: updateOpenHouse
      summary: Update an OpenHouse by OpenHouseKey
      tags:
      - OpenHouse
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenHouse'
      responses:
        '200':
          description: The updated OpenHouse record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenHouse'
    delete:
      operationId: deleteOpenHouse
      summary: Delete an OpenHouse by OpenHouseKey
      tags:
      - OpenHouse
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '204':
          description: OpenHouse deleted.
components:
  parameters:
    id:
      name: id
      in: path
      required: true
      description: The resource primary key value.
      schema:
        type: string
    top:
      name: $top
      in: query
      required: false
      description: Maximum number of matching items to return (default 10, max 200).
      schema:
        type: integer
        default: 10
        maximum: 200
    filter:
      name: $filter
      in: query
      required: false
      description: OData filter expression restricting returned items.
      schema:
        type: string
    skip:
      name: $skip
      in: query
      required: false
      description: Number of matching items to skip (default 0).
      schema:
        type: integer
        default: 0
    select:
      name: $select
      in: query
      required: false
      description: Comma-separated list of resource elements to return.
      schema:
        type: string
  schemas:
    OpenHouse:
      type: object
      description: RESO OpenHouse resource.
      properties:
        OpenHouseKey:
          type: string
        ListingKey:
          type: string
        ModificationTimestamp:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Simple token authentication via the Authorization Bearer header.
