openapi: 3.2.0
info:
  title: Perchwell RESO Web Office API
  version: v2
  description: Perchwell's RESO Web API is a RESO Data Dictionary certified, OData 4.01 interface for transferring real estate data.
  contact:
    name: Perchwell Support
    email: support@perchwell.com
    url: https://docs.perchwell.com
servers:
- url: https://www.perchwell.com/api/v2/OData/{system}
  description: Production (system is the originating system identifier)
  variables:
    system:
      default: system
      description: The originating system identifier for the MLS/dataset.
security:
- bearerAuth: []
tags:
- name: Office
  description: RESO Office resource.
paths:
  /Office:
    get:
      operationId: queryOffice
      summary: Query Office records
      tags:
      - Office
      parameters:
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: A collection of Office records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfficeCollection'
  /Office('{id}'):
    get:
      operationId: getOffice
      summary: Get an Office by OfficeKey
      tags:
      - Office
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: The Office record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Office'
components:
  parameters:
    id:
      name: id
      in: path
      required: true
      description: The resource primary key value.
      schema:
        type: string
    top:
      name: $top
      in: query
      required: false
      description: Maximum number of matching items to return (default 10, max 200).
      schema:
        type: integer
        default: 10
        maximum: 200
    filter:
      name: $filter
      in: query
      required: false
      description: OData filter expression restricting returned items.
      schema:
        type: string
    skip:
      name: $skip
      in: query
      required: false
      description: Number of matching items to skip (default 0).
      schema:
        type: integer
        default: 0
    select:
      name: $select
      in: query
      required: false
      description: Comma-separated list of resource elements to return.
      schema:
        type: string
  schemas:
    OfficeCollection:
      type: object
      properties:
        '@odata.context':
          type: string
        '@odata.count':
          type: integer
        value:
          type: array
          items:
            $ref: '#/components/schemas/Office'
    Office:
      type: object
      description: RESO Office resource.
      properties:
        OfficeKey:
          type: string
        OfficeName:
          type: string
        ModificationTimestamp:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Simple token authentication via the Authorization Bearer header.
