openapi: 3.0.3
info:
  title: Perchwell JSON Listings Property API
  version: '1.0'
  description: Perchwell's JSON API provides access to real estate listing data in a format designed for ease of use and speed of development. The API uses simple token authentication and a basic query interface for filtering listings and paginating through results. Faithfully generated by the API Evangelist enrichment pipeline from Perchwell's published API reference (https://docs.perchwell.com/#/json_api_getting_started).
  contact:
    name: Perchwell Support
    email: support@perchwell.com
    url: https://docs.perchwell.com
servers:
- url: https://www.perchwell.com
  description: Production
security:
- tokenAuth: []
tags:
- name: Property
  description: RESO Property resource (listings; Media is nested).
paths:
  /Property:
    get:
      operationId: queryProperty
      summary: Query Property records
      description: Returns Property records matching the OData query parameters.
      tags:
      - Property
      parameters:
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: A collection of Property records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyCollection'
    post:
      operationId: createProperty
      summary: Create a Property record
      description: Creates a Property. Requires valid ListAgentKey (Member must exist); ListPrice required, ClosePrice required when StandardStatus is Closed.
      tags:
      - Property
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Property'
      responses:
        '201':
          description: Property created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
  /Property('{id}'):
    get:
      operationId: getProperty
      summary: Get a Property by ListingKey
      tags:
      - Property
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: The Property record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
    patch:
      operationId: updateProperty
      summary: Update a Property by ListingKey
      description: Partial update. Any fields omitted remain unchanged; required fields cannot be nulled.
      tags:
      - Property
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Property'
      responses:
        '200':
          description: The updated Property record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
components:
  schemas:
    PropertyCollection:
      type: object
      properties:
        '@odata.context':
          type: string
        '@odata.count':
          type: integer
        value:
          type: array
          items:
            $ref: '#/components/schemas/Property'
    Media:
      type: object
      description: RESO Media resource, nested within Property (max 100 per Property).
      properties:
        MediaKey:
          type: string
        MediaURL:
          type: string
        MediaCategory:
          type: string
        Order:
          type: integer
        ResourceName:
          type: string
        ResourceRecordKey:
          type: string
    Property:
      type: object
      description: RESO Property resource.
      properties:
        ListingKey:
          type: string
        StandardStatus:
          type: string
        ListPrice:
          type: number
        ClosePrice:
          type: number
        UnparsedAddress:
          type: string
        UnitNumber:
          type: string
        ListAgentKey:
          type: string
        ListOfficeKey:
          type: string
        ModificationTimestamp:
          type: string
          format: date-time
        Media:
          type: array
          items:
            $ref: '#/components/schemas/Media'
  parameters:
    filter:
      name: $filter
      in: query
      required: false
      description: OData filter expression restricting returned items.
      schema:
        type: string
    id:
      name: id
      in: path
      required: true
      description: The resource primary key value.
      schema:
        type: string
    select:
      name: $select
      in: query
      required: false
      description: Comma-separated list of resource elements to return.
      schema:
        type: string
    skip:
      name: $skip
      in: query
      required: false
      description: Number of matching items to skip (default 0).
      schema:
        type: integer
        default: 0
    top:
      name: $top
      in: query
      required: false
      description: Maximum number of matching items to return (default 10, max 200).
      schema:
        type: integer
        default: 10
        maximum: 200
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Simple token authentication. Send the API token in the Authorization header.
