openapi: 3.0.3
info:
  title: Perchwell RESO Web API
  version: v2
  description: >-
    Perchwell's RESO Web API is a RESO Data Dictionary certified, OData 4.01
    interface for transferring real estate data. It exposes the standard RESO
    resources (Property, Member, Office, OpenHouse, with Media nested within
    Property) supporting query, retrieval by key, create, update, and delete
    (OpenHouse and Media only). Faithfully generated by the API Evangelist
    enrichment pipeline from Perchwell's published API reference
    (https://docs.perchwell.com/#/reso_getting_started). Based on RESO Web API
    v1.0.3 and OData 4.01.
  contact:
    name: Perchwell Support
    email: support@perchwell.com
    url: https://docs.perchwell.com
servers:
  - url: https://www.perchwell.com/api/v2/OData/{system}
    description: Production (system is the originating system identifier)
    variables:
      system:
        default: system
        description: The originating system identifier for the MLS/dataset.
security:
  - bearerAuth: []
tags:
  - name: Metadata
    description: OData service metadata.
  - name: Property
    description: RESO Property resource (listings; Media is nested).
  - name: Member
    description: RESO Member resource (agents).
  - name: Office
    description: RESO Office resource.
  - name: OpenHouse
    description: RESO OpenHouse resource.
  - name: Media
    description: RESO Media resource (nested within Property).
paths:
  /$metadata:
    get:
      operationId: getMetadata
      summary: Get OData service metadata
      description: Returns the CSDL metadata document describing resources, fields, and lookup values.
      tags:
        - Metadata
      responses:
        '200':
          description: OData CSDL metadata document.
          content:
            application/xml:
              schema:
                type: string
  /Property:
    get:
      operationId: queryProperty
      summary: Query Property records
      description: Returns Property records matching the OData query parameters.
      tags:
        - Property
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: A collection of Property records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyCollection'
    post:
      operationId: createProperty
      summary: Create a Property record
      description: >-
        Creates a Property. Requires valid ListAgentKey (Member must exist);
        ListPrice required, ClosePrice required when StandardStatus is Closed.
      tags:
        - Property
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Property'
      responses:
        '201':
          description: Property created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
  /Property('{id}'):
    get:
      operationId: getProperty
      summary: Get a Property by ListingKey
      tags:
        - Property
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: The Property record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
    patch:
      operationId: updateProperty
      summary: Update a Property by ListingKey
      description: Partial update. Any fields omitted remain unchanged; required fields cannot be nulled.
      tags:
        - Property
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Property'
      responses:
        '200':
          description: The updated Property record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
  /Member:
    get:
      operationId: queryMember
      summary: Query Member records
      tags:
        - Member
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: A collection of Member records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberCollection'
    post:
      operationId: createMember
      summary: Create a Member record
      tags:
        - Member
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Member'
      responses:
        '201':
          description: Member created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
  /Member('{id}'):
    get:
      operationId: getMember
      summary: Get a Member by MemberKey
      tags:
        - Member
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: The Member record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
    patch:
      operationId: updateMember
      summary: Update a Member by MemberKey
      tags:
        - Member
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Member'
      responses:
        '200':
          description: The updated Member record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
  /Office:
    get:
      operationId: queryOffice
      summary: Query Office records
      tags:
        - Office
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: A collection of Office records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfficeCollection'
  /Office('{id}'):
    get:
      operationId: getOffice
      summary: Get an Office by OfficeKey
      tags:
        - Office
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: The Office record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Office'
  /OpenHouse:
    get:
      operationId: queryOpenHouse
      summary: Query OpenHouse records
      tags:
        - OpenHouse
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: A collection of OpenHouse records.
          content:
            application/json:
              schema:
                type: object
    post:
      operationId: createOpenHouse
      summary: Create an OpenHouse record
      tags:
        - OpenHouse
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenHouse'
      responses:
        '201':
          description: OpenHouse created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenHouse'
  /OpenHouse('{id}'):
    get:
      operationId: getOpenHouse
      summary: Get an OpenHouse by OpenHouseKey
      tags:
        - OpenHouse
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: The OpenHouse record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenHouse'
    patch:
      operationId: updateOpenHouse
      summary: Update an OpenHouse by OpenHouseKey
      tags:
        - OpenHouse
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenHouse'
      responses:
        '200':
          description: The updated OpenHouse record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenHouse'
    delete:
      operationId: deleteOpenHouse
      summary: Delete an OpenHouse by OpenHouseKey
      tags:
        - OpenHouse
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '204':
          description: OpenHouse deleted.
  /Media('{id}'):
    delete:
      operationId: deleteMedia
      summary: Delete a Media record by MediaKey
      tags:
        - Media
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '204':
          description: Media deleted.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Simple token authentication via the Authorization Bearer header.
  parameters:
    id:
      name: id
      in: path
      required: true
      description: The resource primary key value.
      schema:
        type: string
    filter:
      name: $filter
      in: query
      required: false
      description: OData filter expression restricting returned items.
      schema:
        type: string
    top:
      name: $top
      in: query
      required: false
      description: Maximum number of matching items to return (default 10, max 200).
      schema:
        type: integer
        default: 10
        maximum: 200
    skip:
      name: $skip
      in: query
      required: false
      description: Number of matching items to skip (default 0).
      schema:
        type: integer
        default: 0
    select:
      name: $select
      in: query
      required: false
      description: Comma-separated list of resource elements to return.
      schema:
        type: string
  schemas:
    PropertyCollection:
      type: object
      properties:
        '@odata.context':
          type: string
        '@odata.count':
          type: integer
        value:
          type: array
          items:
            $ref: '#/components/schemas/Property'
    MemberCollection:
      type: object
      properties:
        '@odata.context':
          type: string
        '@odata.count':
          type: integer
        value:
          type: array
          items:
            $ref: '#/components/schemas/Member'
    OfficeCollection:
      type: object
      properties:
        '@odata.context':
          type: string
        '@odata.count':
          type: integer
        value:
          type: array
          items:
            $ref: '#/components/schemas/Office'
    Property:
      type: object
      description: RESO Property resource.
      properties:
        ListingKey:
          type: string
        StandardStatus:
          type: string
        ListPrice:
          type: number
        ClosePrice:
          type: number
        UnparsedAddress:
          type: string
        UnitNumber:
          type: string
        ListAgentKey:
          type: string
        ListOfficeKey:
          type: string
        ModificationTimestamp:
          type: string
          format: date-time
        Media:
          type: array
          items:
            $ref: '#/components/schemas/Media'
    Member:
      type: object
      description: RESO Member resource (agent).
      properties:
        MemberKey:
          type: string
        MemberFirstName:
          type: string
        MemberLastName:
          type: string
        MemberMiddleName:
          type: string
        MemberEmail:
          type: string
        MemberAddress1:
          type: string
        MemberCity:
          type: string
        MemberStateOrProvince:
          type: string
        MemberPostalCode:
          type: string
        MemberOfficePhone:
          type: string
        MemberStateLicense:
          type: string
        MemberStatus:
          type: string
        OfficeKey:
          type: string
        ModificationTimestamp:
          type: string
          format: date-time
    Office:
      type: object
      description: RESO Office resource.
      properties:
        OfficeKey:
          type: string
        OfficeName:
          type: string
        ModificationTimestamp:
          type: string
          format: date-time
    OpenHouse:
      type: object
      description: RESO OpenHouse resource.
      properties:
        OpenHouseKey:
          type: string
        ListingKey:
          type: string
        ModificationTimestamp:
          type: string
          format: date-time
    Media:
      type: object
      description: RESO Media resource, nested within Property (max 100 per Property).
      properties:
        MediaKey:
          type: string
        MediaURL:
          type: string
        MediaCategory:
          type: string
        Order:
          type: integer
        ResourceName:
          type: string
        ResourceRecordKey:
          type: string
